  body{
	background-color: black;
}
table.visits{
	text-align: left;
	border-spacing: 1em 0em;
	border-collapse: separate;
	color: #FFFF00;
	padding-top:1%;
	font-size: 2em;
	float: left;
  }
  div.back{
  float: left;
  height: 3em;
  width: 3em;
  left: 1em;
  }
  .back img{
  height: 100%;
  width: 100%;
  }
