<!doctype html>
<html>
<head>
    <title>Logging in users in pincheckin</title>
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   




<script type="text/javascript">
/* attach a submit handler to the form */
$("#formoid").submit(function(event) {

  /* stop form from submitting normally */
  event.preventDefault();

  /* get the action attribute from the <form action=""> element */
  var $form = $(this),
    url = $form.attr('action');

  /* Send the data using post with element id gamer-tag*/
  var posting = $.post(url, {
   
    gamer-tag: $('#gamer-tag').val()
   
  });

  /* Alerts the results */
  posting.done(function(data) {
    $('#result').text('success');
  });
  posting.fail(function() {
    $('#result').text('failed');
  });
});
</script> 

</head>
<body>
<div class="col text-center">
  <br>
  <br>

    <h1>Velkommen til Bergen Flipperspillklubb!</h1>
  
  <br>

<img src="/static/FlipperspillLOGO.png" style="
  max-width: 25%;
  height: auto;
">
  <br>
  <br>




 <form id="formoid" action="" title="" method="post">


  <!-- GAMER TAG -->
    
        <div id="gamer-tag-group" class="form-group col-xs-2" >
            
            <input type="text" maxlength="3" style="
                text-transform:uppercase;
                text-align: center;
                display: inline-block;
                float: none;
                margin: 0 auto"
                 class="form-control col-xs-2" name="gamer-tag" placeholder="TAG (tre bokstaver)">
            <!-- errors will go here -->
        </div>
    
 <br>

       
      
      
          <div class="btn btn-success">
          <input type ="submit" name="action" value="Logg inn">
      </div>
      <div class="btn btn-failure">
          <input type ="submit" name="action" value="Logg ut">
      </div>
    </form>

    <br>

    <form action="{{ url_for('register') }}">
    <button type="submit" class="btn btn-success">Ny bruker!<span class="fa fa-arrow-right"></span></button>
</form>


</div>
</body>
</html>

