<!doctype html>
<html>
<head>
    <title>{% trans %}Logging in users in pincheckin{% endtrans %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.bfk.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   

</head>
<body>


  <img class="logo-front" src="{{ url_for('static', filename='logo.png') }}">

  <div class="col text-center">
  <br>
  <br>


    <h1 style="font-family:cursive;">{% trans %}Welcome!{% endtrans %}</h1>
  

  <br>



 <form id="formoid" action="{{ url_for('checkin') }}" title="" method="post">


  <!-- GAMER TAG -->
    
        <div id="gamer-tag-group">
            
     
          <input type="text" maxlength="3" style="
                text-transform:uppercase;
                text-align: center;
                display: inline-block;
                float: none;
                font-size: 2rem;
                max-width: 50%;
                margin: 0 auto;"
                 class="form-control" name="tag" placeholder="{{ _('Player tag') }}">
            <!-- errors will go here -->
            <br>
            <br>
            <br>
               <div class="btn btn-success" style="margin-left:25%; float: left;">
            <input type ="submit" class="btn btn-success" name="Checkin" value="{{ _('Check in') }}">
          </div>


 
          <div class="btn btn-danger" style="margin-right:25%; float: right;">
            <input type ="submit" class="btn btn-danger" name="Checkout" value="{{ _('Check out!') }}">
          </div>
        </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

<form action="{{ url_for('guest') }}">
    <button type="submit" class="btn btn-warning">{{ _('New user!') }}<span class="fa fa-arrow-right"></span></button>
</form>



</div>

    {% include 'menu.html' %}

</body>
</html>

