
<html>
<head>
<title>Besøk</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.bfk.css') }}">
</head>
<body>
  <div>
    <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='back.png') }}" class="spinny" >
    </a>
  </div>
<table id="player" class="list-group-item" >
<thead class="table-dark"><th>Tag</th><th>From</th><th>To</th></thead>
<tbody  style="border:solid; border-width: 2px">
{% for checkin in visits %}
<tr> 

<style>
table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-left: 1px solid #000;
    border-right: 1px solid #000
  border-width: 1px 0;
}
</style>

  <td>{{ checkin[0] }}</td>
<td>{{ checkin[1] | formattime }}</td>
{% if checkin[2] is defined %}
<td>{{ checkin[2] | formattime  }}</td>
{% endif %}
</tr>
{% endfor %}
</tbody>

</table>        
</body>
</html>
