<html>
<head>
<title>{{ _('Pincheckin') }}</title>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.bfk.css') }}">
</head>
<body>

<script type="text/javascript">
  {{returnscript|safe}}
</script>
 <div class="menu">
    {% include 'menu.html' %}
  </div>

<br>
<br>
  {% if fault is defined %}
  <div class="warning">

    <img src="{{ url_for('static', filename='warning.svg') }}" />
      </div>
  {% endif %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<div class="message">
   <h1> {{ message }}</h1>
    </div>


  {% if guest is defined %}
    <div class="guest" style="margin: auto;">
    <br>
    <br>
    <h2>Scann QR-koden for å gå rett til betaling</h2>
    <br>
    <br>
    <img src="{{ url_for('static', filename='qr-link.png') }}"  style="width: 55%; height: auto; display: block; margin:auto;"/>
      </div>
  {% endif %}


  
</body>
</html>
