<html>
<head>
<title>{{ _('Pincheckin') }}</title>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.bfk.css') }}">
</head>
<body>

<script type="text/javascript">
  {{returnscript|safe}}
</script>
 <div class="menu">
    {% include 'menu.html' %}
  </div>
  <div >
    <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='back.png') }}" class="spinny" >
    </a>
  </div>

<br>
<br>
  {% if fault is defined %}
  <div class="warning">
    <img src="{{ url_for('static', filename='warning.svg') }}" />
      </div>
  {% endif %}
  <div class="message">
   <h1> {{ message }}</h1>
    </div>
</body>
</html>
