<!doctype html>
<html>
<head>
    <title>Registering new users in pincheckin</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


 <div class="back">
    <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='back.svg') }}" />
    </a>
  </div>

 
    <h1>Velkommen til Bergen Flipperspillklubb!</h1>

    <form id="form" action="{{ url_for('adduser') }}" title="" method="post">
      <div id="tag" class="registerform">
	<p>
        <input type="text" maxlength="3" style="text-transform:uppercase" class="form-control" name="tag" placeholder="TAG (tre bokstaver)">
        <input type="text" style="text-transform:capitalize" class="form-control" name="name" placeholder="Navn">
        <input type="text" style="text-transform:lowercase" class="form-control" name="email" placeholder="E-post">
        <input type="text" class="form-control" name="phone" placeholder="Telefonnummer">
    </p>
	<div>
        <button type="submit" class="btn">Registrer</button>
	</div>
    </form>

</div>
</body>
</html>

